<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vue Js task</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="script/vue.js"></script>
    <script src="script/jquery.min.js"></script>
    <script src="script/bootstrap.min.js"></script>

</head>

<body>
    <div id="app">
        <div class="col-md-3 form-group">
            <h2>Add circles...</h2>
            <input type="number" class="form-control" v-model="circles" placeholder="Number of circles to be inserted...">
            <br>
            <button type="button" v-on:click="insertCircle" class="btn btn-primary">Insert</button>
            {{circles}}
        </div>
        <div class="col-md-9">
            <div class="balls">
                <div v-for="ball in balls">
                </div>
            </div>
        </div>
    </div>
    <script src="script/script.js"></script>
</body>

</html>